@keyframes scrollDown {
  0% {
    transform-origin: top;
    transform: scale(1,0);
  }

  50% {
    transform-origin: top;
    transform: scale(1,1);
  }

  50.1% {
    transform-origin: bottom;
    transform: scale(1,1);
  }

  100% {
    transform-origin: bottom;
    transform: scale(1,0);
  }
}

@keyframes blob {
  0% {
    border-radius: 50%;
  }
  50% {
    border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%;
  }
  100% {
    border-radius: 60% 40% 40% 60% / 60% 60% 40% 40%;
  }
}

@keyframes openBckg {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

@keyframes closeBckg {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@keyframes visibleText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fillWhite {
   0% {
    fill: var(--grey-dark);
  }
  100% {
    fill: white;
  }
}

@keyframes arrowScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    transform-origin: left;
  }
}
