*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	background: var(--backg);
}

html {
	font-size: 62.5%;
	color: var(--grey-dark);
	scroll-behavior: smooth !important;
}

.cursor {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid var(--grey-medium);
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: -20;
	transition: transform .2s;

	@media (any-pointer: none) {
		display: none;
	}
}


.link-grow {
	transform: scale(2) translate(-25%, -25%);
}

// .title-highlight {
// 	transform: scale(2) translate(-25%, -25%);
// 	background-color: var(--primary);
// }

// .image-over {
// 	background-color: transparent;
// 	backdrop-filter: hue-rotate(180deg);
// 	transform: scale(2) translate(-25%, -25%);
// }

.filter-effect {
	filter: url(#filter-1);
	background-color: transparent;
	transform: scale(2) translate(-25%, -25%);
}