*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	position: relative;
	// cursor: none;
	background: var(--backg);
	// animation: colorChange 4s linear infinite alternate both;
}

html {
	font-size: 62.5%;
	color: var(--grey-dark);
	scroll-behavior: smooth;
}

.cursor {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--grey-medium);
	position: absolute;
	top: -40;
	left: -40;
	pointer-events: none;
	z-index: -20;
	transition: transform .2s;
}

.link-grow {
	transform: scale(2) translate(-25%, -25%);
}

.title-highlight {
	transform: scale(2) translate(-25%, -25%);
	background-color: var(--primary);
}

.image-over {
	background-color: transparent;
	border: 1px solid var(--grey-medium);
	backdrop-filter: hue-rotate(180deg);
	// backdrop-filter: grayscale(100%) contrast(100%);
	transform: scale(2) translate(-25%, -25%);
}

.big-numbers {
	font-family: "Open Sans";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 150px;
    color: #DBDBDB;
    position: absolute;
    top: -.5em;
    right: 0rem;
    z-index: -1;
}