*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	// overflow-x: hidden;
	background: var(--backg);
}

html {
	font-size: 62.5%; // 1rem = 10px
	color: var(--grey-dark);
	scroll-behavior: smooth !important;
  cursor: none;
}

.cursor {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: white;
  border: 1px solid white;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: -20;
  opacity: 1;
	transition: transform .2s, background-color .2s;

	@media (any-pointer: none) {
		display: none;
	}
}

.link-grow {
	transform: scale(6) translate(-15%, -15%);
  animation: blob 3s linear infinite alternate;
}

.info-grow {
  background-color: transparent;
  transform: scale(2.5);
  animation: blob 3s linear infinite alternate;
}

.menu-grow {
  background-color: transparent;
  height: 2px;
  width: 30px;
}
