.container {
	display: flex;
	min-height: 100vh;
}

.sections {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-left {
	width: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 3rem 0;

	&__top svg {
		height: 30px;
		width: 30px;
	}

	&__bottom {

		ul li {
			list-style: none;
			padding-top: 1rem;

			svg {
				width: 2rem;
				height: 2rem;
			}
		}
	}

}

.nav-right {
	width: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;

	li {
		list-style: none;
		transform: rotate(90deg);
		margin-top: 10rem;
		margin-bottom: 10rem;
		text-align: center;

		a {
			text-decoration: none;
			color: var(--grey-dark);
			font-size: 1.2rem;
			text-transform: uppercase;
		}

		a:hover {
			color: var(--yellow);
		}
	}
}