@font-face {
	font-family: 'Exo';
	font-weight: 100 900;
	font-style: normal;
	display: swap;
	src: url('./fonts/Exo-VariableFont_wght.woff2') format('woff2');
}

@font-face {
	font-family: 'Muli';
	font-weight: 200 900;
	font-style: normal;
	display: swap;
	src: url('./fonts/Muli-VariableFont_wght.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
	display: swap;
	src: url('./fonts/OpenSans-ExtraBold.woff2') format('woff2');
}

h1, h2 {
	font-family: 'Exo', sans-serif;
	font-size: 6rem;
	font-variation-settings: 'wght' 900;

	@include respond(deskBig) {
		font-size: 8rem;
	}

	@include respond(tab) {
		font-size: 5rem;
	}

	@include respond(phone) {
		font-size: 4rem;
	}

}



.section-h2 {
	text-align: center;
	margin-bottom: 15rem;
}

h3 {
	font-family: 'Exo', sans-serif;
	font-size: 4.5rem;
	font-variation-settings: 'wght' 900;

	@include respond(deskBig) {
		font-size: 6rem;
	}

	@include respond(tab) {
	  font-size: 4rem;
	}

	@include respond(phone) {
	  font-size: 3rem;
	}
}

p {
	font-family: 'Muli', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	font-kerning: normal;
	hyphens: auto;
	color: var(--grey-medium-dark);

	@include respond(deskBig) {
		font-size: 2rem;
	}
}

strong {
	font-weight: 800;
	color: var(--grey-dark);
}

.accent {
	color: var(--primary);
}

.text-grey-medium {
	color: var(--grey-medium-dark) !important;
}

.text-black {
	color: var(--grey-dark) !important;
}

ul li {
	font-family:  'Muli', sans-serif;
	color: var(--grey-dark);
	list-style: none;
}

.big-numbers {
	font-family: "Open Sans";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 15rem;
    color: #DBDBDB;
    position: absolute;
    top: -.5em;
    left: 10rem;
    z-index: -1;

	@include respond(deskBig) {
		font-size: 18rem;
		left: 25rem;
	}

    @include respond(tab) {
		font-size: 10rem;
    }
    @include respond(phone) {
		font-size: 8rem;
	}
}

