@font-face {
	font-family: 'Exo';
	font-weight: 100 900;
	font-style: normal;
	display: swap;
	src: url('./fonts/Exo-VariableFont_wght.woff2') format('woff2');
}

@font-face {
	font-family: 'Muli';
	font-weight: 200 900;
	font-style: normal;
	display: swap;
	src: url('./fonts/Muli-VariableFont_wght.woff2') format('woff2');
}


h1, h2 {
	font-family: 'Exo', sans-serif;
	font-size: 6rem;
	font-variation-settings: 'wght' 900;
}

.section-h2 {
	text-align: center;
	margin-bottom: 15rem;
}

h3 {
	font-family: 'Exo', sans-serif;
	font-size: 4.5rem;
	font-variation-settings: 'wght' 900;
}

p {
	font-family: 'Muli', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	font-kerning: normal;
	// hyphens: auto;
	color: var(--grey-medium);
}

strong {
	font-weight: 800;
	color: var(--grey-dark);
}

.accent {
	color: var(--primary);
}

ul li {
	font-family:  'Muli', sans-serif;
	color: var(--grey-dark);
	list-style: none;
}

