:root {
  --backg: #E7e6db;
	--primary: #952525;
	--grey-dark: #333333;
	--grey-medium-dark: #919191;
	--grey-medium: #DBDBDB;
	--grey-light: #f2f2f2;

  /* breakpoint variables */
  --bp-small: 24.15;
  --bp-medium: 43.75;
  --bp-large: 60.25;
  --bp-xlarge: 75;
  /* h1 variables */
  --h1-font-size-min: 3;
  --h1-font-size-max: 5;
}
