.paragraph {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60rem;
  border-top: 2px solid var(--grey-dark);
  margin-bottom: 6rem;

  p {
    font-size: 2.618rem;
    margin: 0 4.236rem 6.854rem;
    padding-top: 3rem;
    flex: 0 1 85%;
  }

  .arrow-rounded {
    height: 6rem;
    flex: 0 1 15%;
    transform: rotate(60deg);
    margin-right: -1rem;
  }
}
