.paragraphes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .paragraph {

    .paragraph__title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0 1.2rem;
    }

    .paragraph__text {
      border-top: 2px solid var(--grey-dark);
      margin: 1rem 1rem 4rem;

      p {
        padding: 2rem 0;
      }
    }
  }
}
