.equipe-section {
	width: 80%;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	
	&__container {

		h2 {
			text-align: center;
		}

		.equipe-section__grid {
			margin-top: 15rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			.equipe-section__cell {

				svg {
					width: 10rem;
					display: block;
					margin: 0 auto;
				}
				
				p {
					width: 25rem;
					padding-top: 1.5rem;
				}
			}
		}
	}
}
