.nav {
	width: 100%;
	height: 8rem;
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding: 1rem 3rem;
	grid-gap: 10rem;
	align-items: center;
	position: fixed;
	top: 0;
	background-color: white;
	border-bottom: 1px solid var(--grey-light);
	z-index: 1000;

	&__logo {
		justify-self: start;

		img {
			width: 10rem;
		}
	}

	&__menu {
		justify-content: center;
		ul {
			display: flex;
			justify-content: space-between;

			li {
			font-family: 'muli', sans-serif;
			font-size: 1.2rem;
			font-weight: 600;
			list-style: none;
			display: inline;
			text-transform: uppercase;

				a:link, a:visited {
					text-decoration: none;
					color: var(--grey-dark);
				}

				a:hover {
					text-decoration: line-through;

				}
			}
		}
	}

	&__social {
		justify-self: end;
		
		svg {
			width: 2rem;
			height: 2rem;
		}
	}
}