.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond(phone) {
      width: 100%;
    }

  svg {
    width: 10rem;
    height: 10rem;
    fill: var(--backg);
    stroke: var(--grey-dark);
    stroke-width: 10;
  }
}


