.about {
  width: 100%;

  .paragraphes {
    .paragraph {
      svg {
        width: 5rem;
        height: 5rem;
        fill: var(--backg);
        stroke: var(--grey-dark);
        stroke-width: 15;
      }
    }
  }
}


