.a-propos {
	width: 70%;
	margin: 0 auto;

	@include respond(deskBig) {
		width: 50%;
	}

	@include respond(tab) {
		width: 100%;
	}

	.a-propos__portrait {
		width: 50rem;
		margin: 0 auto;
		position: relative;

		@include respond(phone) {
			width: 30rem;
			margin: 0 auto;	
		}

		img {
			width: 50rem;
			height: 50rem;
			border-radius: 50%;

			@include respond(phone) {
				width: 30rem;
				height: 30rem;
			}
		} 
		.nav-title__animation {
		width: 20rem;
		height: 20rem;
		border-radius: 50%;
		border: 2px solid var(--grey-medium);
		background-color: var(--backg);
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 70%;
		left: 0%;

			@include respond(phone) {
				width: 15rem;
				height: 15rem;
				top: 70%;
				left: 0%;
			}

			svg {
				fill: var(--grey-medium);
				width: 12rem;

				@include respond(phone) {
				width: 10rem;
			}
			}

			.l, .a, .b2, .dot, .l2, .a2, .b3 {
			    visibility: hidden;
			}
		}
	}

	
	.a-propos__parcours {
		width: 50rem;
		margin: 10rem auto;

		@include respond(phone) {
			width: 30rem;
		}


		.p-parcours {
			margin-top: 1rem;
		}
	}

	.a-propos__logos {
		width: 50rem;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include respond(phone) {
			width: 30rem;
		}

		svg {
			width: 6rem;
			height: 6rem;
			margin: 1rem;
			opacity: .8;

			@include respond(phone) {
				width: 5rem;
				height: 5rem;
				margin: 0rem;
			}
		}
	}	
}
