.a-propos {
	width: 100%;
	// margin: 0 auto;
	

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.a-propos__portrait {

			img {
				width: 50rem;

				@include respond(tab) {
					width: 40rem;
				}
			}
		}


		.a-propos__animation {

			@include respond(tab) {
				
			}
			
			svg {
				width: 25rem;
				fill: var(--grey-dark);

				@include respond(deskBig) {
					width: 35rem;
				}
			}

			.l, .a, .b2, .dot, .l2, .a2, .b3 {
			    visibility: hidden;
			}
		}
	}


	&__text {
		width: 100%;
		margin: 5rem auto;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;

		h3 {
			margin-bottom: 1rem;
		}

		p {
			margin: 3rem 0;
			width: 50rem;
		}

		svg {
			width: 6rem;
			height: 6rem;
			margin: 1rem;
		}

		.a-propos__parcours .p-parcours {
			margin-bottom: 10rem;
		}
	}
}