.a-propos {
	width: 50rem;
	margin: 0 auto;

	.a-propos__portrait {
	}

	.nav-title__animation {
	width: 20rem;

		svg {
			fill: var(--grey-medium);
			width: 20rem;
		}

		.l, .a, .b2, .dot, .l2, .a2, .b3 {
		    visibility: hidden;
		}
	}
	
	.a-propos__parcours {
		margin: 5rem 0;

		.p-parcours {
			margin-top: 1rem;
		}
	}

	.a-propos__logos {
		display: flex;

		svg {
			width: 6rem;
			height: 6rem;
			margin: 1rem;
			opacity: .8;
		}
	}	
}

.nav-title-propos {
	width: 100%;

}

	// &__animation {
	// 	position: absolute;
	// 	top: 60%;
	// 	right: 4%;
	// 	z-index: 2;

	// 	svg {
	// 		width: 20rem;
	// 		position: relative;
	// 		fill: #fff;
	// 	}

	// 	.l, .a, .b2, .dot, .l2, .a2, .b3 {
	// 	    visibility: hidden;
	// 	}
	// }

