.contact-section {
  width: 100%;
  padding: 0 5%;
}

.contact {
  max-width: 60rem;
  margin: 0 auto;
  & h3 {
    margin-bottom: 4rem;
  }

  & p {
    font-size: 2.618rem;
    margin-bottom: 1rem;
  }
}
