.contact {
	width: 100%;
	height: 100%;
	padding: 0 20rem;
	margin: 5rem 0 0rem;
	
	// @include respond(desk) {
	// 	padding-right: 10rem;
	// 	padding-left: 0rem;
	// }
	// @include respond(tab) {
	// 	padding: 0 2rem;
	// }

	&__container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.contact__portrait {
			flex: 0 1 50%;

			img {
				width: 40rem;
				height: 40rem;
				border-radius: 50%;
			}
		}

		.contact__story {
			flex: 0 1 50%;

				@include respond(tabSmall) {
					flex: 0 1 80%;
				}

			.contact__text {
				margin: 5rem 0;

				h3 {
					margin-bottom: 1rem;
				}

				p {
					margin: 2rem 0;
				}
			}
			
			.contact__animation {
				height: 100%;
				
				svg {
					width: 25rem;

					@include respond(deskBig) {
						width: 35rem;
					}
				}

				.l, .a, .b2, .dot, .l2, .a2, .b3 {
				    visibility: hidden;
				}
			}
		}
	}

	
	&__techno {
		width: 100%;
		margin : 10rem auto;
		
		ul li {
			font-size: 1.6rem;
			color: var(--grey-medium-dark);

			@include respond(deskBig) {
				font-size: 2rem;
			}
		}

		svg {
			width: 5rem;
			height: 5rem;
		}
	}
}