.contact-section {

  h2 {
    text-align: center;
  }

  .contact {
    margin: 0 auto;

    @include respond(phone) {
        width: 100%;
    }

    .paragraph {
    width: 41.89rem;
    margin-bottom: 1rem;
    }
  }
}

