.cta {
	height: 100vh;
	text-align: center;
	display: grid;
	justify-content: center;
  justify-items: center;
	align-items: center;
	position: relative;

  &__legal {
    text-align: center;
    align-self: end;
    width: 70%;
    font-size: 1.2rem;

    @include respond(phone) {
      width: 90%;
    }
  }

  &__main {
    margin-top: 20%;

  	h2 {
      text-align: center;
  		--minFontSize: 2.618rem;
      --maxFontSize: 6.854rem;
  		margin: 0 0 2rem;
  	}

    #email {
      --minFontSize: 2.618rem;
      --maxFontSize: 4.236rem;
    }

    #tel {
      --minFontSize: 1.618rem;
      --maxFontSize: 2.618rem;
    }
  }

  &__social {
    display: none;

    @include respond(phone) {
      display: flex;
    }

    li {
      padding: 0 4rem;
    }

    svg {
      width: 3rem;
      height: 3rem;
    }

  }
}
