.cta {
	height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;

  &__p {
    flex: 0 1 10%;
    text-align: center;
    width: 70%;
    font-size: 1.2rem;

    @include respond(phone) {
      width: 90%;
    }
  }

  &__main {
    flex: 0 1 90%;
  	h2 {
  		--minFontSize: 2.618rem;
      --maxFontSize: 6.854rem;
  		margin: 0 0 2rem;
  	}

    #email {
      --minFontSize: 2.618rem;
      --maxFontSize: 4.236rem;
    }

    #tel {
      --minFontSize: 1.618rem;
      --maxFontSize: 2.618rem;
    }
  }
}
