.cta {
	height: 100vh;
  margin-bottom: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;

	h2 {
		--minFontSize: 2.618rem;
    --maxFontSize: 6.854rem;
		margin: 0 0 2rem;
	}

  #email {
    --minFontSize: 2.618rem;
    --maxFontSize: 4.236rem;
  }

  #tel {
    --minFontSize: 1.618rem;
    --maxFontSize: 2.618rem;
  }

  a:hover {
    animation: underlineA .3s forwards;
  }
}
