.formules {
  width: 100%;

  &__paragraph {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    p {
      width: 50rem;
      font-size: 2.618rem;
      margin: 0 4.236rem 6.854rem;
    }

    svg {
      width: 8rem;
      fill: var(--backg);
    }

  }
}
