.formules {
	width: 100%;

	p {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 20rem;
		text-align: justify;
		font-size: 4rem;
		color: var(--grey-dark);
		font-weight: 400;
		line-height: 7rem;

		svg {
			width: 9rem;
			fill: #F9F9F9; 
			stroke: #000; 
			stroke-width: 10;
			margin-bottom: -2.2rem;

			@include respond(tab) {
				width: 5rem;
				margin-bottom: -1.2rem;
			}
		}

		@include respond(deskBig) {
			width: 60%
		}

		@include respond(tab) {
			width: 80%;
			font-size: 3rem;
			line-height: 6rem;
		}

		@include respond(phone) {
			width: 90%;
			font-size: 2.4rem;
			line-height: 4.4rem;
		}
	}
}