.header {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 10rem;
	position: relative;

	@include respond(tab) {
		padding: 0 2rem;
	}

	&__logo {
		flex: 0 1 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		top: 30%;
		
		svg {
			width: 25rem;

			@include respond(deskBig) {
				width: 35rem;
			}
		}

		#l, #a, #b2, #dot, #l2, #a2, #b3{
		    visibility: hidden;
		}
	}
	
	&__title {
		flex: 0 1 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		top: 30%;

		h1 {
			text-align: center;

			@include respond(phone) {
				padding: 1rem;
			}
		}
	}

	&__scroll {
		flex: 0 1 100%;
		position: absolute;
		bottom: 10rem;

		.header__line {
			display: block;
			padding-top: 6rem;
			position: relative;
		}

		.header__line::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -1px;
			width: 1.4px;
			height: 8rem;
			background-color: var(--grey-dark);
			animation: scrollDown 2.4s cubic-bezier(1, 0, 0, 1) infinite;
		}
	}
}

