.header {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 10rem;
	position: relative;
	// visibility: hidden;

	// &__wrapper {
	// 	visibility: hidden;
	// 	// opacity: 0;
	// 	// animation: fadeIn 1.3s forwards;
	// 	.header__punchline {
	// 		font-size: 2.5rem;
	// 		margin-top: 5rem;
	// 		text-align: center;
	// 		line-height: 4rem;
	// 	}
	// }
	

	h1 {
		text-align: center;
		opacity: 0;
		animation: fadeIn 1.3s forwards;
		position: relative;
	}

	// h1::before {
	// 	 position:absolute;
	// 	 top:0;
	// 	 left:0;
	// 	  content:attr(data-text);
	// 	  color:transparent;
	// 	  background:#dbdbdb;
	// 	  background: radial-gradient(circle at var(--x,-80px) var(--y,-80px), #fff 40px,black 40px);
	// 	  background-clip: text;
	// 	  margin: 0;
	// 	  padding: 0;
	// }

	&__scroll {
		flex: 0 1 100%;
		position: absolute;
		bottom: 10rem;
		padding-top: 1rem;

		.header__line {
			display: block;
			padding-top: 6rem;
			position: relative;
		}

		.header__line::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -1px;
			width: 1.4px;
			height: 8rem;
			background-color: var(--grey-dark);
			animation: scrollDown 2.4s cubic-bezier(1, 0, 0, 1) infinite;
		}
	}

}