.portfolio {
	width: 100%;
	height: 100vh;
	display: flex;
	padding-left: 10rem;
	margin-bottom: 80%;


	&__text {
		flex: 0 1 50%;
		height: 100vh;
		position: relative;
		padding: 0 5rem;

		.slideText {
			position: absolute;
			top: 20rem;
			left: 10rem;

			h3 {
				margin-bottom: 2.4rem;
			}

			ul li {
				font-size: 1.6rem;

				svg {
					width: 3rem;
					height: 3rem;
					margin-bottom: -1rem;
					margin-right: 1rem;
				}
			}
			
			p {
				max-width: 40rem;
				margin: 4rem auto;
			}

			p  a {
				color: var(--primary);
				text-decoration: none;
				position: relative;
			}

			p  a::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 110%;
				height: 1.4px;
				background-color: var(--primary);
				transform: scaleX(0);
				transform-origin: top left;
				transition: transform .5s cubic-bezier(1, 0, 0, 1);
			}

			p  a:hover::after {
				width: 100%;
				height: 1.4px;
				transform-origin: top left;
				transform: scaleX(1.4);
			}
		}
	}

	&__picture {
		flex: 0 1 50%;
		height: 100vh;
		position: relative;
		overflow: hidden;


		.slide {
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
			background-position: center;
			background-size: cover;
		}

		.portfolio__picture--01 {
			background-image: url("./images/sybrlab.jpg");
		}
		.portfolio__picture--02 {
			background-image: url("./images/sybil-site.jpg");
		}
		.portfolio__picture--03 {
			background-image: url("./images/amime.jpg");
		}
	}
}
