.portfolio {
	width: 100%;
	height: 100vh;
	margin-bottom: 10rem;
	display: flex;
	position: relative;
	margin-bottom: 100vh;


	&__text {
		width: 50%;
		height: 100vh;
		position: relative;

		.slideText {
			position: absolute;
			top: 10rem;
			left: 10rem;

			h3 {
				margin-bottom: 1rem;
			}

			ul li {
				font-size: 1.6rem;
			}
			
			p {
				max-width: 40rem;
				margin-top: 1rem;
			}

			p  a {
				color: var(--primary);
				text-decoration: none;
				padding-bottom: .5rem;
				position: relative;
			}

			p  a::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 1.4px;
				bottom: 0;
				left: 0;
				background-color: var(--primary);
				transform: scaleX(0);
				transform-origin: top right;
				transition: transform .5s cubic-bezier(1, 0, 0, 1);
			}

			p  a:hover::before {
				width: 100%;
				height: 1.4px;
				transform-origin: top left;
				transform: scaleX(1);
			}
		}
	}

	&__picture {
		width: 50%;
		height: 100vh;
		position: relative;
		overflow: hidden;

		img {
			height: 100vh;
			object-fit: cover;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
