.portfolio {
	border: 1px solid pink;
	width: 100vw;
	height: 100vh;
	padding: 0 10em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	&__text {
		position: relative;

		h3 {
			margin-bottom: 1rem;
		}

		ul li {
			font-size: 1.6rem;
		}

		.portfolio__text--01 {
			opacity: 1;
		}
		
		.portfolio__text--02 {
			opacity: 0;
		}

		.portfolio__text--03 {
			opacity: 0;
		}

		.portfolio__text--04 {
			opacity: 0;
		}

		.portfolio__text--05 {
			opacity: 0;
		}

		.slide {
			position: absolute;
			top: 20rem;
			left: 5rem;
			margin-right: 10rem;

			p a {
				color: var(--primary);
				text-decoration: none;
				padding-bottom: .5rem;
				transition: transform 1s;
				position: relative;
			}

			p a:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				bottom: -px;
				left: 0;
				background-color: var(--primary);
				transform: scaleX(0);
				opacity: 0;
				transition: transform opacity 1s;
			}

			p a:hover:before {
				transform: scaleX(1);
				transform-origin: left;
				opacity: 1;
			}
		}
	}

	&__picture {
		position: relative;

		img {
			width: 100%;
			height: 100vh;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}

		.portfolio__picture--01 {
			opacity: 1;
		}

		.portfolio__picture--02 {
			opacity: 0;
		}

		.portfolio__picture--03 {
			opacity: 0;
		}

		.portfolio__picture--04 {
			opacity: 0;
		}

		.portfolio__picture--05 {
			opacity: 0;
		}
	}
}

.portfolio__text-parag {
	margin: 1rem 0;
}
